@charset "utf-8";

:root {
    --font-color-0: #105d93;
    --font-color-1: #000;
    --font-color-2: #666;
    --font-color-3: #aaa;
    --bg-color-1: #eee;
    --bg-color-2: #ccc;
    --line-1: #ccc;
    --line-2: #ddd;
}

p {
    word-wrap: break-word;
    white-space: pre-wrap;
}

body {
    font-family: "LXGW WenKai Screen", "webfont", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Segoe UI", "Helvetica Neue", Helvetica, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.6px;
    color: var(--font-color-2);
    background: #111;
}

a {
    text-decoration: none;
    color: var(--font-color-1);
}

/* 页面 */
.paper {
    padding: 4vw;
}

.paper-main {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    padding: 72px 8vw 24px;
    background: #fff;
    border-radius: 24px;
}

@media screen and (min-width: 970px) {
    .paper-main {
        padding: 72px 80px 24px;
    }
}

/* 顶栏 */
.header {
    padding-bottom: 4px;
    margin-bottom: 48px;
    border-bottom: 1px solid var(--line-1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

.logo {
    font-family: 'Smiley Sans Oblique';
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--font-color-1);
    margin-bottom: 16px;
    flex: 0 0 100%;
}

.nav {
    margin: 0 0 4px;
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

.nav li {
    padding: 2px 0;
    margin-right: 16px;
}

.nav li:last-of-type {
    margin-right: 0;
}

.nav li a {
    color: var(--font-color-1);
    opacity: .6;
    transition: opacity ease-in-out .25s;
}

.nav li a:hover {
    opacity: 1;
    transition: opacity ease-in-out .25s;
}

/* 公告 */
.work-box {
    padding-bottom: 36px;
    margin-bottom: 36px;
    border-bottom: 1px solid var(--line-1);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

.box-left {
    min-width: 100px;
}

.box-left a {
    font-size: 1rem;
    padding: 0.5rem;
    border: 2px solid var(--line-1);
    border-radius: 5px;
    align-self: center;
}

.box-left a:hover {
    background: var(--bg-color-2);
    transition: background ease-in-out .2s;
}

.box-right {
    position: relative;
    padding-left: 20px;
}

.box-right::before {
    content: '';
    width: 2px;
    height: 100%;
    background-color: var(--line-1);
    position: absolute;
    left: 0;
}

.work-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--font-color-1);
    margin-bottom: 0.5rem;
}

.sub-work-title {
    font-size: 1rem;
    cursor: default;
}

/* 灵感 */
#reflash {
    font-size: 1rem;
    padding: 0.5rem;
    border: 2px solid var(--line-1);
    border-radius: 5px;
    align-self: center;
    cursor: pointer;
}

.ins-container {
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.ins-container:not(:last-child) {
    border-bottom: 1px dashed var(--line-1);
}

.ins-container .sub-work-title {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

#poem_sentence {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}

#poem_info {
    font-size: 0.8rem;
}

#turth {
    font-size: 1.2rem;
}

#music-info {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#music-info .cover {
    position: relative;
}

#music-info .cover img {
    border-radius: 10px;
    width: 100px;
    margin-right: 10px;
}

#music-info .cover .music-button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
}

#music-info .cover i {
    font-size: 40px;
    color: #fff;
    text-shadow: 0 0 5px var(--font-color-1);
}

#music-info .info p {
    font-size: 0.8rem;
}

#music-info .info p:nth-child(odd) {
    font-size: 1.2rem;
}

#music-comment {
    margin: 5px 0;
}

#comment-by {
    font-size: 0.8rem;
}

#history {
    font-size: 1rem;
}

#history .histroy_list {
    text-align: start;
    background: var(--bg-color-1);
}

#history .histroy_list:nth-child(odd) {
    background: #fff;
}

#history .histroy_list li {
    margin-left: 1.4rem;
}

#history .histroy_list li:nth-child(odd) {
    font-size: 1.2rem;
}

.img-box {
    border-radius: 10px;
}

/* 分类 */
.cat-box {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    cursor: default;
}

.cat-title {
    min-width: 85px;
}

.cat-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

.cat-list .btn-box {
    position: relative;
}

.btn-box .show_btn {
    color: var(--font-color-1);
    border-bottom: 2px solid var(--font-color-1);
}

.btn-box .cat-btn {
    margin: 0 10px;
    cursor: pointer;
}

.btn-box .cat-btn:hover {
    color: var(--font-color-1);
    transition: color ease-in-out .25s;
}

.btn-box:not(:last-child) .cat-btn::after {
    content: '';
    width: 2px;
    height: 50%;
    background-color: var(--line-1);
    position: absolute;
    top: 25%;
    transform: translateX(10px);
}

/* 标签 */
.btn-box a {
    color: var(--font-color-2);
}

/* 卡片 */
.post-header {
    margin-bottom: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

.post-header .logo {
    font-size: 1.5rem;
}

.post-header .go-back {
    display: block;
    padding: 10px 20px 8px;
    border-radius: 18px;
    background: #fff;
    border: 1px solid #eee;
    margin: 8px 0;
    transition: background ease-in-out .25s;
}

.post-header .go-back:hover {
    background: var(--bg-color-1);
    transition: background ease-in-out .25s;
}

.post-header .go-back svg {
    transform: translateX(0);
    transition: transform ease-in-out .25s;
}

.post-header .go-back:hover svg {
    transform: translateX(-4px);
    transition: transform ease-in-out .25s;
}

.post-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    cursor: default;
}

.post {
    width: 100%;
    padding-bottom: 48px;
    margin-bottom: 48px;
    border-bottom: 1px dashed var(--line-2);
}

.post-title {
    display: inline-block;
    font-family: 'Smiley Sans Oblique';
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 12px;
    color: var(--font-color-1);
    /*transition: color ease-in-out .25s;*/
}

.post-title:hover {
    color: var(--font-color-0);
    transition: color ease-in-out .25s;
}

.post-info {
    line-height: 1.5;
    color: var(--font-color-3);
    font-size: 0.875rem;
}

.post-cat {
    font-size: 1rem;
    color: var(--font-color-3);
    margin-left: 5px;
}

.post-author {
    font-size: 0.875rem;
    color: var(--font-color-3);
}

.post-cat:hover,
.post-author:hover {
    color: var(--font-color-0);
    transition: color ease-in-out .25s;
}

.post-except {
    word-break: break-all;
    margin-bottom: 12px;
}

.read-more {
    padding: 0 4px;
    color: var(--font-color-0);
}

.read-more:before,
.read-more:after {
    display: inline-block;
    transition: transform ease-in-out .25s;
}

.read-more:before {
    content: "{ ";
}

.read-more:after {
    content: " }";
}

.read-more:hover:before {
    transform: translateX(-4px);
    transition: transform ease-in-out .25s;
}

.read-more:hover:after {
    transform: translateX(4px);
    transition: transform ease-in-out .25s;
}

.post-date {
    font-size: 0.875rem;
    color: var(--font-color-3);
}

/* 分页 */
.paginator {
    font-size: 0.875rem;
    width: 100%;
    margin: 0 auto 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.paginator * {
    display: block;
    padding: 8px 16px;
    border-radius: 18px;
    background: #fff;
    border: 1px solid #eee;
}

.paginator .space {
    display: block;
    padding: 8px 16px;
    border-radius: 18px;
    background: #fff;
    border: none;
}

.paginator a {
    margin: 4px;
    color: var(--font-color-2);
    transition: color ease-in-out .25s;
}

.paginator a:hover {
    color: var(--font-color-0);
    transition: color ease-in-out .25s;
}

.paginator .current {
    color: var(--font-color-0);
    border: 1px solid var(--font-color-0);
}

/* 底栏 */
.footer {
    padding: 24px 0;
    font-size: 0.875rem;
    color: var(--font-color-3);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
}

.footer span {
    text-align: center;
    margin-bottom: 8px;
    cursor: default;
}

.footer a {
    color: var(--font-color-2);
    transition: color ease-in-out .25s;
}

.footer a:hover {
    color: var(--font-color-0);
    transition: color ease-in-out .25s;
}

/* 文章 */
.post-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
}

.post-main-title {
    flex: 0 0 100%;
    margin-bottom: 12px;
    font-family: 'Smiley Sans Oblique';
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--font-color-1);
}

.post-meta {
    font-size: 0.875rem;
    color: var(--font-color-3);
    flex: 0 0 100%;
    margin-bottom: 32px;
}

.post-btn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
    margin: 10px 0;
    width: 100%;
}

.post-btn .fast-btn {
    padding: 5px;
    border-radius: 5px;
    color: var(--font-color-2);
    margin-right: 10px;
}

.post-btn .fast-btn:hover {
    color: var(--font-color-0);
    transition: color ease-in-out .25s;
}

.post-btn .fast-btn i {
    margin-right: 5px;
}

#w-comment {
    width: 100%;
}

/* 归档 */
.archive-sub:hover {
    color: var(--font-color-0);
    transition: color ease-in-out .25s;
}

.archive-year {
    margin-bottom: 20px;
}

.archive-month {
    margin: 10px 0;
    margin-left: 10px;
    padding-left: 8px;
    border-left: 4px solid var(--line-1);
}

.archive {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: normal;
    cursor: default;
    margin-left: 10px;
}

.timeline {
    border-left: 2px solid var(--line-1);
}

.archive li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    padding: 10px 5px;
}

.timeline li {
    position: relative;
}

.archive li:nth-child(odd) {
    background: #fff;
}

.archive li:nth-child(even) {
    background: #fafafa;
}

.archive li .archive-date {
    width: 90px;
    color: var(--font-color-2);
}

.timeline li .archive-date {
    margin-left: 5px;
}

.timeline li .archive-date::before {
    content: '◈';
    position: absolute;
    left: -8px;
    height: 100%;
    color: var(--font-color-2);
}

.archive-main {
    flex: 0 1 calc(100% - 90px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.archive-title {
    color: var(--font-color-1);
}

.archive-info {
    font-size: 0.875rem;
    padding-left: 10px;
    margin: 2px 0 2px 5px;
    border-left: 2px solid var(--font-color-2);
    line-height: 1.2;
}

.archive-more {
    color: var(--font-color-2);
    font-size: 1rem;
    padding-left: 10px;
    margin: 10px 0;
    margin-left: 10px;
    border-left: 3px solid var(--font-color-3);
    line-height: 1.4;
}

.archive-title:hover,
.archive-info:hover,
.archive-more:hover {
    color: var(--font-color-0);
    transition: color ease-in-out .25s;
}

/* 分类&标签 */
.archive-sub-type {
    margin-bottom: 10px;
}

/* 关于 */
.about-content {
    margin-top: 40px;
}

.about-donate {
    font-family: 'Smiley Sans Oblique';
    text-align: center;
}

/* 辅助 */
.hiding {
    display: none;
}