<div class="work-box">
    <div class="box-left"><a href="<%- url_for(theme.menu.灵感) %>">来点灵感</a></div>
    <div class="box-right">
        <div class="work-title">最新活动</div>
        <div class="sub-work-title">第一期限制接龙写作。</div>
        <div class="sub-work-title">写作练习题目：请从回忆或感触出发描述某首你无法忘记的歌曲。</div>
    </div>
</div>