<div class="work-box">
    <div class="box-left"><a href="<%- url_for(theme.menu.灵感) %>">来点灵感</a></div>
    <div class="box-right">
        <div class="work-title">本周主题</div>
        <div class="sub-work-title">自由联想题目：就这样静坐，书写绵长的信，看落叶纷飞。</div>
        <div class="sub-work-title">写作练习题目：请从回忆或感触出发描述某首你无法忘记的歌曲</div>
    </div>
</div>